* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: monospace; */
}

body {
  background: #f5f5f5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  width: 100%;
  /* max-width: 1240px; */
}

.header {
  background: rgb(39, 39, 39);
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  margin-right: 350px;
}
.nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}
.auth-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 20px;
}
.auth-buttons a {
  position: relative;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  margin-right: 70px;
  text-decoration: none;
}
.signin {
  color: white;
}
.signup {
  background: #7cc211;
  color: white;
}

.hero {
  background: white;
  padding: 50px 0;
  margin-top: 0px;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 80px;
}

.hero-text h1 {
  max-width: 700px;
  font-size: 2.4rem;
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  justify-content: start;
  align-items: center;
}

.search-box input {
  padding: 20px;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 25px;
  /* box-shadow: 1 2px 3px rgb(39, 39, 39); */
}

.search-box button {
  position: relative;
  right: 60px;
  padding: 20px;
  background: #7cc211;
  color: white;
  border: none;
  font-size: 18px;
  /* border-radius: 60%; */
}

.hero-image img {
  width: 800px;
  height: 550px;
  background: #e0e0e0;
  margin-right: 80px;
}

.featured {
  padding: 50px 0;
}

.featured h2 {
  margin-bottom: 20px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
}

.card img {
  width: 100%;
  height: 160px;
  background: #ddd;
}

.price {
  font-weight: bold;
  color: #7cc211;
}

.events {
  padding: 50px 0;
}

.event-card {
  background: white;
  padding: 15px;
  border-radius: 8px;
}

.event-card img {
  width: 100%;
  height: 140px;
  background: #ddd;
}

.services {
  padding: 50px 0;
  background: white;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  margin-top: 20px;
}

.service-box {
  background: #f0f0f0;
  padding: 20px;
  text-align: center;
  border-radius: 6px;
}


.claim {
  background: #cfeea9;
  padding: 50px 0;
  text-align: center;
}

.claim-btn {
  background: #7cc211;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  margin-top: 10px;
} 

.listing-section {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    padding: 50px 0;
}

.listing-section h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
}

.listing-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 25px;
}

.listing-card {
    position: relative;
    border-radius: 14px;
    overflow: hidden;
    height: 230px;
}

.listing-card.large {
    grid-column: span 2;
    grid-row: span 2;
    height: 490px;
}

.listing-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
    transition: 0.3s ease;
}

.listing-card:hover img {
    filter: brightness(50%);
}

.info {
    position: absolute;
    bottom: 18px;
    left: 18px;
    color: #fff;
}

.info h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

.info p {
    margin: 4px 0 0;
    font-size: 15px;
    color: #bfffb6; /* green-tinted text like screenshot */
}



.socialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer {
  color: rgb(87, 87, 87);
  padding: 40px 0 0;
}

.footer-left  img{
    margin-bottom: 20px;
}
.footer-flex {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}

.footer-columns {
  display: flex;
  gap: 200px;
}

.footer-col h4 {
  margin-bottom: 40px;
  color: #7cc211;
}

.footer-col a {
  display: block;
  color: #727171;
  margin-bottom: 8px;
  text-decoration: none;
}

.footer-col input {
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  width: 100%;
}

.footer-col button {
  padding: 10px;
  background: #7cc211;
  border: none;
  color: white;
  width: 100%;
}

.copy {
  padding: 30px;
  background: #222;
  text-align: center;
  margin-top: 20px;
  font-size: 22px;
  color: #888;
}

.joinUs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    background: #7cc211;
    padding: 20px;
}
.joinUsText {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.joinUsText h1 {
        color:  white;  
        font-size: 30px;
        font-family:Arial, Helvetica, sans-serif;
}